<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.benshen.lee.hacknews"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />
    
    <uses-permission
        android:name="android.permission.INTERNET" 
        />
    


    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity             
            android:name=".ui.WebViewActivity">
        </activity>
        
        <service 
            android:name=".service.HNService">            
        </service>
        
        <!-- activeandroid neet this -->
	    <meta-data android:name="AA_DB_NAME" android:value="HackNews.db" />
	    <meta-data android:name="AA_DB_VERSION" android:value="1" />
        
    </application>

</manifest>
